body {
    margin: 0;
    font-family: "sans";
}

nav {
    width: 100%;
    background-color: #acf;
    color: #fff;
    height: 1.6em;
}

nav > h1 {
    font-size: 1.4em;
    margin-top: 0;
    padding-left: 0.25em;
}


nav > h1 > a:link, nav > h1 > a:visited, nav > h1 > a:hover {
    text-decoration: none;
    color: #fff;
}

main, aside, footer, section.error {
    padding-left: 0.5em;
}

h2 {
    font-size: 1.2em;
}

aside > a {
    margin-right: 0.5em;
}

aside > a.small {
    font-size: 0.8em;
}

aside > a.medium {
    font-size: 1.0em;
}

aside > a.large {
    font-size: 1.3em;
}

ul.bookmarks {
    list-style-type: none;
    padding-left: 0;
}

.bookmark {
    font-size: 0.8em;
    margin-bottom: 1em;
}

.bookmark > .tags {
    font-size: 0.8em;
    color: #888;
}


@media screen and (min-width: 800px) {
    div.main_box {
        display: flex;
        flex-direction: row;
    }

    aside {
        width: 15%;
        min-width: 12em;
    }
}
